.App {
  text-align: center;
}

.App-header {
   background-color: #007A33; /* Deloitte Green */
  color: white;
  padding: 20px;
  border-bottom: 4px solid #004B23; /* Darker Green */
}

.App-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.Chat-section{
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.Info-section, .Result-section {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* .Info-header {
  margin-bottom: 10px;
} */

.Enneagram-logo {
  max-width: 350px; /* Adjust the logo size */
  margin: 10px 0;
}

.Result-section {
  text-align: center;
  background-color: #F7F7F7; /* Light background for contrast */
}

.Book-appointment-button {
  background-color: #005F0F; /* Darker green for button */
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.Book-appointment-button:hover {
  background-color: #007A33; /* Lighter green on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

@media (max-width: 768px) {
  .App-container {
    flex-direction: column;
  }
}
